{% extends "./base.html" %}

{% block page_list %}
  <h2>일기 목록 페이지</h2>

  <ul>
      <!-- 하나의 글은 여기서부터 -->
      {% for page in page_list %}
        <li>
          <a href="{% url 'page-detail' page.id %}">
            <div class="date">
              <span>{{page.dt_created|date:"d"}}</span>
              <p>{{page.dt_created|date:"M"}}</p>
            </div>
            <h2>{{page.title}}</h2>
            <div class="score">
                <p>감정점수</p>
                <span>{{page.score}}</span>
            </div>
          </a>
        </li>
      {% endfor %}
  </ul>
{% endblock page_list %}